doctype html
html(lang='ru')
  head
    include ../partials/head
  body
    .wrapper
      block header
        include ../partials/header
      block content
      include ../partials/footer
    include ../partials/scripts
